version: "3"
services:
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.4.2
        ports:
        - 9200:9200
        environment:
        - cluster.name=es
        - http.host=0.0.0.0
        - discovery.type=single-node
        - ES_JAVA_OPTS=-Xms512m -Xmx512m
    kibana:
        image: docker.elastic.co/kibana/kibana-oss:7.4.2
        ports:
        - 5601:5601
        environment:
        - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        depends_on:
        - elasticsearch
