<html xmlns:c="http://www.w3.org/1999/xhtml" xmlns:m="http://www.w3.org/1999/xhtml" value="">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta name="og:image" c:html:content="imageURL">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">-->
</head>
<body>
<img src="/static/images/logo.png">
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>-->
<script type="application/javascript">
    function test() {
        return 0;
    }

</script>
<script src="/static/js/main.js"></script>

<p>hello <span c:text="name"></span>!</p>

<p c:text="welcomeMessage()"></p>

<p>this is msg: <span m:text="key.hello"></span></p>

<hr>

<h3>form test</h3>

<form action="submit" method="post">
    <label>name:</label>
    <input name="name" type="text" rel="name">
    <input type="submit">
</form>

<hr>

<ul>
    <li c:for="x:items()" c:text="x"></li>
</ul>

<select>
    <option c:for="x:items()" c:text="x" c:value="x" c:selected="selected(x)"></option>
</select>

<hr>
<div c:include="/template/footer.html"></div>
</body>
</html>
