version: "3"
services:
  kafka:
    image: neowu/kafka:3.4.0
    ports:
    - 9092:9092
    - 1099:1099
    environment:
    - KAFKA_NODE_ID=1
    - KAFKA_CLUSTER_ID=lK_g8qooQNOD9klGoxLojA
    - KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.rmi.port=1099 -Djava.rmi.server.hostname=kafka
    - KAFKA_HEAP_OPTS=-Xms1G -Xmx1G
    - KAFKA_ARGS=--override advertised.listeners=PLAINTEXT://kafka:9092 --override num.partitions=3 --override controller.quorum.voters=1@kafka:9093
#  kafka-2:
#    image: neowu/kafka:3.4.0
#    environment:
#    - KAFKA_NODE_ID=1
#    - KAFKA_CLUSTER_ID=FjC2JEw2S5C18hSjY1yEuA
#    - KAFKA_HEAP_OPTS=-Xms1G -Xmx1G
#    - KAFKA_ARGS=--override advertised.listeners=PLAINTEXT://kafka-2:9092 --override num.partitions=3 --override controller.quorum.voters=1@kafka:9093
#  mm:
#    image: neowu/kafka:3.4.0
#    volumes:
#    - ./connect-mirror-maker.properties:/opt/kafka/config/connect-mirror-maker.properties
#    entrypoint: ["/bin/bash", "-c", "/opt/kafka/bin/connect-mirror-maker.sh /opt/kafka/config/connect-mirror-maker.properties"]
#    depends_on: [kafka, kafka-2]
#  example of kafka with zookeeper
