name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 21
    - uses: gradle/gradle-build-action@v2.11.1
    - run: ./gradlew check
    - run: ./gradlew testCodeCoverageReport
    - uses: codecov/codecov-action@v3
